
.icon-basket:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802';  } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
