#clouds
{
    position: relative;
    top: 100px;
    left: 150px;
}

#clouds_groupL
{
    position: relative;
    top: 0;
    left: 0;
    left: -1500px;
    transition: all 0.7s ease-in-out;
}


#clouds_groupR
{
    position: relative;
    top: 50px;
    
    transition: all 0.7s ease-in-out;
    left:100vw;
}

#clouds_groupL > #backgroundL
{
    float: left;
}

#backgroundR
{
    float: right;
    position: absolute;
    top:0;
    left:0;
}

#clouds_groupL > #backgroundM
{
    margin:200px ;
}

.background-clouds
{
    position: absolute;
    width: 39vw;
    height: 27vw;
    float: left;
    transition: all 0.7s ease-in-out;
}

.middle-clouds
{
    position: absolute;
    width: 25vw;
    height: 18vw;
}

#middleL
{
    left: 100px;
    top:250px;
}

 #middleR
{
    float: right;
    top:20vw;
}

.front-clouds
{
    position: absolute;
}

#clouds_groupL > #front1
{
    top:100px;
    left:-100px;
}

#clouds_groupL > #front2
{
    top: 25vw;
    left: -7vw;
}

#clouds_groupR > #front3
{
    top:0;
    left:500px;  
}

#clouds_groupR > #front4
{
    top:0;
    right: 1000px; 
}

/*L*/
#small-top_cloud1
{
    position: absolute;
    left: -50%;
    top:300px;
    z-index: -1;
    animation: left-to-right 40s ease-in forwards infinite alternate;
}




/*R*/
#small-top_cloud2
{
    position: absolute;
    right: -50%;
    top:120px;
    z-index: -1;
    animation: right-to-left 40s ease-in forwards infinite alternate;
}

#middle-top_clouds
{
    position: absolute;
    right: -24%;
    top:200px;
    z-index: -1;
    animation: right-to-left 45s ease-in forwards infinite alternate;
}



#minigame_clouds
{
    position: absolute;
    z-index: -1;
    top:-750px;
    left:-100px;  
}

