#huge_name
{
    position: relative;
    top:3vw;
    color: black;
}

.huge_name
{
    height: 26vw;
    width:90vw;
    position: absolute;
    font-size: 12vw;
}

#huge_name > #name
{
   
    left: -1500px;
    transition: all 0.7s ease-in-out;
    top:0;
    width: 80%;
    font-family: 'Bungee Shade', cursive; 
}

#huge_name > #surname
{
   
    left: 110vw;
    transition: all 0.7s ease-in-out;
    top: 34vh;
    width: 80%;
    float: right;
    font-family: 'Bungee Shade', cursive; 
}
