#minigame
{
    position: absolute;
    top:1000px;
    left:0;
    outline: 2px solid violet;
}

#content
{
    position: relative;
    top:55vw;
    left:10vw;
    outline: 1px solid black;
}
#content > #resp
{
    position: absolute;
    top:10%;
    left:20%;
}


#content > #job
{
    position: absolute;
    top:600px;
    left:350px;
}

#content > #edu
{
    position: absolute;
    top:900px;
    left:1200px;
}
#content > #hobby
{
    position: absolute;
    top:1200px;
    left:400px;
    
}


#content > #projects
{
    position: relative;
    top:300px;
    left:900px;
    max-width: 40vw;
    font-size: 20px;
    height: 40vh;
    outline: 1px solid red;
}
.project
{
    position: absolute;
    top: 0;
    left: 0;
}
.about_project
{
    font-size: 20px;
}