#content > #My_interests
{
    position: relative;
    top: 95vh;
    left: -3vw;
    background:none;
    opacity: 0;
    transition: all 0.6s ease-in-out;
    height: 0;
    
}

#My_interests > #room
{
    position: absolute;
    top: 0;
    left: 0;
}

#room > #room_image
{
    width: 69vw;
    height: 87vh;
}

#room > #small-interestcloud1
{
    top: 38vh;
    left: 48vw;
}

#room > #small-interestcloud2
{
    top: 21vh;
    left: 4vw;
}

#room > #small-interestcloud3
{
    top: 66vh;
    left: 30vw;
}

#My_interest > #programming
{
    position: relative;
}

#programming > #close_btn
{
    top: 60.5vh;
    left: 47.3vw;
    opacity: 0;
    width: 3.5vw;
    height: 3.5vw; 
    transition: all 1.8s ease-in-out;
    z-index: -1;
}

#programming > #open_btn
{
    position: absolute;
    top: 60.5vh;
    left: 43.2vw;
    opacity: 0;
    width: 3.9vw;
    height: 3.5vw;
    transition: all 1.8s ease-in-out;
    z-index: -1;
}

#open_btn:hover
{
    cursor: pointer;
    transform: scale(1.3);
}

.my_interests > #computer_img
{
    position: absolute;
    top: 37vh;
    left: 26vw;
    width: 111px;
    height: 98px;
    scale: 1;
    transition: all 1s ease-in-out;
    animation: pulse_moves 1s ease-in-out forwards infinite alternate;
    z-index: 2;
}

.my_interests > #loading
{
    position: relative;
    top: 22vh;
    left: 25vw;
    z-index: 10;
    width: 5vw;
    opacity: 0;
    transition: all 1s ease-in-out;
}


#log_in_window
{
    position: absolute;
    top: -4vh;
    left: 4vw;
    width: 918px;
    height: 585px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    border-radius: 4px;
}

#log_in_window > img
{
    top: 0vh;
    position: absolute;
    left: 0vw;
    
    width: 1000px;
    height: 800px;
}

#log_in_window > #username
{
    position: absolute;
    top: 38vh;
    left: 16vw;
    color: white;
    font-size: 40px;
    text-shadow: 2px 1px black;
}

#log_in_window > button
{
    position: absolute;
    top: 46vh;
    left: 21vw;
    border: 1px solid white;
    border-radius: 10px;
    width: 90px;
    height: 25px;
    background: none;
    color: white;
    
}

#log_in_window > button:hover
{
    cursor: pointer;
    background-color: black;
}

#desktop
{
    position: absolute;
    top: -3.5vh;
    left: 4vw;
    width: 916px;
    height: 645px;
    overflow: hidden;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 0;
}


#desktop >img
{
    width: 1000px;
    height: 624px;
    position: absolute;
    top: -4vh;
}

#desktop > #run_program1
{
    position: absolute;
    top: 9.5vh;
    left: 1vw;
    z-index: 3;
    text-align: center;
    animation: pulse_moves 1s ease-in-out forwards infinite alternate;
}

#desktop > #run_programJS
{
    position: absolute;
    top: 3vh;
    left: 43vw;
    z-index: 3;
    text-align: center;
    animation: pulse_moves 1s ease-in-out forwards infinite alternate;
}

#desktop > #run_programPY
{
    position: absolute;
    top: 3vh;
    left: 39vw;
    z-index: 3;
    text-align: center;
    animation: pulse_moves 1s ease-in-out forwards infinite alternate;
}

#desktop > #run_programVS
{
    position: absolute;
    top: 52vh;
    left: 1vw;
    z-index: 3;
    text-align: center;
    animation: pulse_moves 1s ease-in-out forwards infinite alternate;
}

.run_program_icon
{
    width: 44px;
    height: 44px;
}

.run_program_icon:hover
{
    cursor: pointer;
}

.run_program_header
{
    color: white;
    text-shadow: 2px 2px black;
}

#program
{
    width: 900px;
    position: absolute;
    height: 374px;
    top: 12vh;
    left: 6.5vw;
    opacity: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}

.my_interests > #music_img
{
    position: absolute;
    top: 49vh;
    left: 46vw;
    width: 120px;
    height: 120px;
    transform: rotate(-37deg);
    animation: pulse_moves 1s ease-in-out forwards infinite alternate;
    z-index: 2;
}



.my_interests > #sport_img
{
    position: absolute;
    top: 57vh;
    left: 33vw;
    width: 100px;
    animation: pulse_moves 1s ease-in-out forwards infinite alternate;
    z-index: 2;
}