#comments_section
{
	height: auto;
	background-color: #50545f;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	padding: 20px;
	
}

#comments_section > header
{
	font-size: 60px;
	font-weight: 500;
	color: white;
}


.comments
{
	margin-bottom: 20px;
	
}
.comments > #userinfo 
{
	float:left;
}
.comments > #userinfo > img
{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}

.comments > #userinfo > #username
{
	margin-left: 5px;
	margin-top: 10px;
	color: white;
}

.comments > #comment_content
{
	
	margin-left: 120px;
	background-color: #26282E;
	height: 200px;
	
}

#comment_content > #header_stars
{
	background-color: #26282E;
	margin-bottom: 20px;
	height: 80px;
}



#header_stars > #score
{
	
	width: 500px;
	background-color: #26282E;
	float: right;
	margin-right: 100px;
	height: 80px;
	
}


#write_comment_btn
{
	margin-top: 20px;
}

#write_comment_btn:hover
{
	cursor: pointer;
}

#comment_content > #header_stars > #comment_h_input
{
	width: 55%;
	background-color: #26282E;
	border: none;
	color: white;
	font-size: 30px;
}

#comment_content > #comment_text_input
{
	font-size: 14px;
	border: none;
	width: 95%;
	height: 40%;
	background-color: #26282E;
	color: white;
	font-size: 20px;
}

#comment_content > #comment_text_input::placeholder
{
	color: white;
	font-size: 20px;
}

#comment_content > #header_stars > #comment_h_input::placeholder
{
	color: white;
	font-size: 20px;
}

#comment_adder
{
	visibility: hidden;
}

#add_comment_btn
{
	margin-top: 20px;
	visibility: hidden;
	float: left;
}

#add_comment_btn:hover
{
	cursor: pointer;
}

#info_window
{
	text-align: center;
	position: sticky;
	top: 0;
	z-index: 3;
	
}
#info_window > h1
{
	background-color: #26282E;
	border-radius: 20px;
	font-size: 15px;
	font-weight: 500;
}



#star-five 
{
	--basic_color: white;
	margin: 50px 0;
	
	display: block;
	color: var(--basic_color);
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid var(--basic_color);
	border-left: 100px solid transparent;
	transform: rotate(35deg) scale(0.3);
	
  }
  #star-five:before {
	border-bottom: 80px solid var(--basic_color);
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	position: absolute;
	height: 0;
	width: 0;
	top: -45px;
	left: -65px;
	display: block;
	content: '';
	transform: rotate(-35deg);
	
  }
  #star-five:after {
	position: absolute;
	display: block;
	color: var(--basic_color);
	top: 3px;
	left: -105px;
	width: 0px;
	height: 0px;
	border-right: 100px solid transparent;
	border-bottom: 70px solid var(--basic_color);
	border-left: 100px solid transparent;
	transform: rotate(-70deg);
	content: '';
  }

  #star-five:hover
  {
	--basic_color: gold;
  }


