.pop_window
{
	z-index: 2;
	font-size: 40px;
	font-weight: 400;
	background-color: rgb(0,0,0,0.5);
	top:0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility:hidden;	
    
}

.window_container
{
	background-color: white;
	width: 50%;
	height: 500px;
	justify-content: space-around;
	align-items: right;
	border-radius: 3%;
	justify-content: flex-end;
	align-items: flex-end;
    position: absolute;
    padding: 10px;
   
}

.window_container > .close-btn
{
	width: 30px;
	height: 30px;
	display: flex;
	background-color: white;
    border: none;
    float: left;
    position: relative;
    top:10px;
    left: 10px;
}

.window_container > .close-btn:hover
{
    cursor: pointer;
    text-align: center;
}

.close-btn > .line1
{
	width: 30px;
	height: 4px;
	background-color: red;
	position: absolute;
	display: block;
	transform: translate(-20%,150%) rotate(45deg);
}
.close-btn > .line2
{
	width: 30px;
	height: 4px;
	background-color: red;
	position: absolute;
	display: block;
	transform: translate(-20%,150%) rotate(135deg);
}

.window_container > h3
{
    margin-left: 42vh;
    font-size:  35px;
    font-weight: 500;
}

#log_in_container
{
    --height: 200px;
    --width: 600px;
    height: var(--height);
    width: var(--width);
    background-color: black;
    position: relative;
    margin-left: calc(var(--width) / 4 + 10px);
    padding: 15px;
    visibility: hidden;
}

#log_in_container > form
{
    height: 70%;
}

form > input
{
    width: 90%;
    height: 25%;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}

form > input::placeholder
{
    color: black;
    font-size: 20px;
    opacity: 80%;
}

form > #username_input
{
    margin-bottom: 15px;
}

#show_password
{
    position: absolute;
    top:90px;
    right: 35px;
}

#show_password > button
{
    width: 35px;
    height: 35px;
    background-image: url('../images/aye_icon.png');
    background-size: 30px;
}

#show_password > button:hover
{
    cursor: pointer;
}

#log_in_container > #donthave_account_container
{
    margin-top: 30px;
}

#donthave_account_container > h1
{
    font-size: 15px;
    font-weight: 500;
}


#create_account_container
{
    visibility: hidden;
    --height: 300px;
    --width: 650px;
    
    width: var(--width);
    background-color: black;
    position: relative;
    margin-left: calc(var(--width) / 4 - 30px);
    padding: 15px;
}

#create_account_container > form 
{
    height: 90%;
    width: 70%;
}

#create_account_container > form > input
{
    height: 35px;
    margin-bottom: 10px;
}

#profile_img_uploader
{
    float: left;
    width: 150px;
    height: 150px;
    position: absolute;
    top:30px;
    right: 50px;
    text-align: center;
    border: 1px solid white;
}

#profile_img_uploader > h1
{
    font-size: 12px;
    color: white;
}

#profile_img_uploader > input
{
    position: absolute;
    top:0;
    left: 0;
    width: 150px;
    height: 150px;
    opacity: 0.1%;
}

#profile_img_uploader > input:hover
{
    cursor: pointer;
}

#profile_img_uploader > label
{
    font-size: 80px;
    color: white;
}